<nav class="flex sm:flex-col xl:flex-row items-center justify-between bg-yellow-400 p-5 flex-wrap box-border sm:text-center">
		<div>
			<h1 class=" text-[#000000] text-4xl ">42Bangkok</h1>
		</div>
		<div class="mr-24 md:mr-0 sm:mr-0">
			<ul class="flex justify-between ">
				<li class="p-2 mr-10 md:mr-0 sm:mr-0"><a class="text-[#000000] md:text-base sm:text-sm hover:text-white" href="#home" >Home</a></li>
				<li class="p-2 mr-10 md:mr-0 sm:mr-0"><a class="text-[#000000] md:text-base sm:text-sm hover:text-white" href="#aboutme"  >About me</a></li>
				<li class="p-2 mr-10 md:mr-0 sm:mr-0"><a class="text-[#000000] md:text-base sm:text-sm hover:text-white" href="#education"  >Education</a></li>
				<li class="p-2 mr-10 md:mr-0 sm:mr-0"><a class="text-[#000000] md:text-base sm:text-sm hover:text-white" href="#expertise"  >Expertise</a></li>
			</ul>
		</div>
</nav>
